@media only screen and (max-width: 768px) {
  /* ------------Phần chung--------------- */

  html,
  section > .containers {
    width: 100%;
    display: inline;
  }

  /*---------------------Phần banner----------------- */
  /* căn chỉnh nội dung  */
  #banner {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    top: 18%;
  }

  /* chỉnh phần font cho thẻ h1 ở banner */
  #banner h1 {
    font-size: 4em;
  }
  /* chỉnh phần font cho thẻ span ở banner */
  #banner span {
    font-size: 23px;
    font-weight: 300;
  }

  .section-title {
    font-size: 45px;
    padding-left: 20px;
  }

  .containers-banner {
    height: 70vh;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  /*-----------------Phần nav-------------------- */
  .avatar {
    display: none;
  }

  #nav-bar .containers a {
    font-size: 23px;
    font-weight: 500;
  }

  #nav-bar .containers {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  #nav-bar .containers a,
  #nav-bar .containers a:first-child {
    border: none;
  }

  #nav-bar .containers a,
  #nav-bar .containers a:nth-child(2),
  #nav-bar .containers a:nth-child(4) {
    padding: 20px 10px 20px 40px;
  }

  /* ------------------Phần about----------------- */
  .icon-social i {
    font-size: 30px;
    padding-right: 10px;
  }

  #about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #personal-info {
    display: block;
  }

  #target,
  #personal-info {
    padding: 40px;
  }

  .info li {
    font-size: 23px;
    padding: 5px 0px;
  }
  #target p {
    font-size: 23px;
  }

  #about .section-title {
    padding-left: 0;
  }

  /*------------------Phần mục tiêu------------------*/

  .container-1,
  .container-2 {
    flex-direction: column;
    row-gap: 30px;
  }

  .grid-3-col .containers {
    row-gap: 0;
  }

  .grid-1-mobile,
  .grid-1-mobile .containers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: baseline;
    margin-bottom: 50px;
  }

  .containers-child {
    width: 100%;
  }

  .containers-child--br {
    border: none;
    margin-right: 0px;
    width: 500px;
  }

  /*-------------------Phần chứng chỉ---------------- */
  #certificate {
    background-color: #f7f7f7;
  }

  .containers-child-certificate {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .containers-child-certificate div {
    padding-left: 0px;
    font-size: 23px;
    width: 500px;
  }

  .containers-child-certificate img {
    width: 500px;
    height: 300px;
  }

  .containers-child-certificate ul li {
    line-height: 40px;
  }

  /*-------------Phần project----------------- */
  .containers-child__img {
    height: 400px;
  }

  .containers-child-title h1 {
    font-size: 45px;
  }

  .containers-child-title i {
    font-size: 70px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
  }

  .containers-child--circle {
    font-size: 23px;
    padding: 0 40px;
  }

  .containers-child--circle i,
  .containers-child--circle li {
    opacity: 0.7;
  }

  .containers-child--circle::before {
    height: 15px;
    width: 15px;
    top: 33px;
    left: -38px;
  }

  .containers-child--interest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .containers-child--interest li i {
    font-size: 40px;
    height: 80px;
    width: 80px;
    border: 2px solid #199cdb;
  }

  .containers-child-step li p,
  .containers-child--interest li p {
    font-size: 23px;
  }

  .containers-child-step__color {
    height: 4px;
    width: 75px;
  }
  .containers-child-title {
    align-items: center;
  }

  /* -------------------Phần project---------------- */

  .containers-child-project__CV {
    font-size: 23px;
    padding: 30px;
  }

  .project-icon div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 23px;
  }

  .project-icon p i {
    font-size: 30px;
    padding-right: 10px;
    opacity: 0.7;
  }

  .project-icon p {
    padding-bottom: 15px;
  }

  .project-icon div p:last-child {
    margin-bottom: 0px;
  }

  .project-icon {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  #project .grid-1-mobile {
    margin-bottom: 100px;
  }

  .containers-child-project span {
    font-size: 20px;
    width: 115px;
    display: flex;
    justify-content: center;
  }

  .containers-child-project {
    width: 93%;
    margin: 0px 20px;
  }

  .containers-child-project i {
    padding-left: 0;
    padding-right: 0;
  }

  td:first-child {
    width: 25%;
  }

  td {
    font-size: 23px;
  }
  /* --------------Phần footer------------------- */

  #footer ul li p {
    display: none;
  }

  #footer ul li i {
    font-size: 50px;
    padding: 0;
  }

  #footer ul li {
    width: 60px;
  }
}
