.nav-bar-item {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.nav-bar-item i {
  padding-right: 10px;
}

.nav-bar-item i,
.nav-bar-item p {
  font-size: 15px;
}

.btnBorder {
  border: 1px solid #fff;
  border-radius: 20px;
}
