.container {
  background-color: #003580;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 60px;
  padding: 70px 0px;
}

.container Button {
  background-color: #0071c2;
  border-radius: 5px;
  padding: 20px 12px;
  margin-left: 10px;
}

.enter-input {
  display: flex;
}
.enter-input input {
  width: 300px;
  border-radius: 5px;
}

.enter-input input::placeholder {
  padding-left: 10px;
}
