* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}
/* Product */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}
/* Product information */
.price {
  font-size: 24px;
}

.shipping {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.more-info:link {
  color: black;
}

.more-info:visited {
  color: purple;
}

.more-info:hover {
  color: red;
}

.more-info:active {
  color: green;
}

/* Product details */
.details-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}
/* Button */
.add-cart {
  font-size: 20px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-top: 4px solid black;
  padding: 15px;
  width: 100%;
}

.add-cart:hover {
  background-color: #fff;
  color: #000;
}
