@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* -----------Phần chung----------------- */
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .content ul li {
    flex-direction: column;
    padding: 10px !important;
  }

  .content-number {
    height: 50px;
  }

  /* ---------------Phần scopes------------- */
  #scopes .content {
    flex-direction: column;
  }

  #scopes .content-child-title {
    font-size: 25px;
  }

  /*------------ Phần đổi vị trí cho các khối---------- */
  #goals {
    order: 1;
  }

  #scopes {
    order: 2;
  }

  #team {
    order: 3;
  }

  #primary {
    order: 4;
  }

  #timeline {
    order: 5;
  }
}
