.container-item {
  color: #fff;
  position: relative;
}

.container-item img {
  border-radius: 10px;
  width: 295px;
  height: 290px;
}

.container-item .content {
  position: absolute;
  top: 200px;
  left: 20px;
  color: #fff;
  font-weight: bold;
}

.container-item .content p {
  font-size: 18px;
}
